/*******************************
 * NEXTFLOW CONFIGURATION FILE *
 *******************************/

nextflow.enable.dsl = 2


/********************************
 * WORKFLOW DEFAULT PARAMETERS  *
 ********************************/
params {
    reads  = null
    ref    = null
    outdir = "${baseDir}/results"

    // pipeline control
    stage = 'full'
}


/********************************
 * EXECUTOR & PROCESS SETTINGS  *
 ********************************/
process {
    executor = 'local'
    errorStrategy = 'terminate'
    cpus = 2
    memory = '1 GB'
    time = '6h'
    conda = 'variant-calling'
}

executor {
    queueSize = 1        // good for 8GB RAM machines
}


/********************************
 * REPORTING / LOGGING          *
 ********************************/
timeline {
    enabled = true
    file    = "${params.outdir}/timeline.html"
}

report {
    enabled = true
    file    = "${params.outdir}/report.html"
}

trace {
    enabled = true
    file    = "${params.outdir}/trace.txt"
}

dag {
    enabled = true
    file    = "${params.outdir}/dag.png"
}


/********************************
 * PROFILES                     *
 ********************************/

profiles {

    /***********************
     * DEFAULT: HUMAN DATA *
     ***********************/
    standard {
        params.reads  = "${baseDir}/data/*_{1,2}.fastq.gz"
        params.ref    = "${baseDir}/ref/Homo_sapiens.GRCh38.dna.primary_assembly.fa"
        params.outdir = "${baseDir}/results"
    }

    /***********************
     * TEST: ECOLI DATA    *
     ***********************/
    test {
        params.reads  = "${baseDir}/data_test/*_{1,2}.fastq.gz"
        params.ref    = "${baseDir}/ref_test/ecoli.fna"
        params.outdir = "${baseDir}/results_test"
    }

}

